html {
    height: 100vh;
}

.header {
    background-color: black;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.header__image img {
    width: 100%;
    height: auto;
}

.header__title {

    order: 1;
    flex: 0 0 auto;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    flex: 0 0 100%;
    font-size: 4rem;
    padding: 8px;
    margin: 0;
    font-family: 'ITC_Avant_Garde';
}
.page__title {
    color:#fff
}

.nav .tour__nav {  /*glow*/
  border-color: #0b090a #161a1d #b10104 #161a1d;
  -webkit-box-shadow:0px 0px 39px 1px rgba(255,46,46,0.9);
  -moz-box-shadow: 0px 0px 39px 1px rgba(255,46,46,0.9);
  box-shadow: 0px 0px 39px 1px rgba(255,46,46,0.9);
}

main {
    background-color: black;
    text-align: center;
    padding: 24px;
    font-family: 'ITC_Avant_Garde';
}
body {
    background-color: black;
}

.table__content {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: auto;
    color: #fff;
    text-align: left;
    margin-bottom: 32px;
}

.table__content th, td {
    padding: 12px 16px;
    border: 2px solid #fff;
}

.years__active__content {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    gap: 32px;
    table-layout: auto;
    color: #fff;
    text-align: left;
}

.years__active__content th, td {
    padding: 12px 16px;
    border: 2px solid #fff;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .header__title {
        order: 1;
        flex: 0 0 auto;
        margin: 0;
        padding: 0 8px;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
    }

    .header__image {
        order: 2;
        flex: 0 0 auto;
    }

    .header__image img {
        display: block;
        width: auto;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .table__content {
        width: 100%;
    }
}
